<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.40.1/maps/maps.css'>
    <script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.40.1/maps/maps-web.min.js"></script>

</head>
<body onload="
var passengerInitCoordinates = [52.360306, 4.876935];
        var map = tt.map({
            key: 'KT5Fjv06WL9YWbIw7a9x6ZZp1WxBwGvM',
            container: 'map',
			center: passengerInitCoordinates,
      zoom: 14
        });
		console.log(map);
">
<div id='map' class='map'style="width:500px; height:500px;"></div>
<script>


</script>
</body>
</html>