<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>Group management</title>

    <link rel='icon' type='image/png' href='/favicon.png'>
    <link rel="stylesheet" href="/css/main.css">
<link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.40.1/maps/maps.css'>
<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.40.1/maps/maps-web.min.js"></script>
    <script defer src='/js/bundle.js'></script>
</head>
<body class="">

</body>
</html>