<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <title>Group management!</title>

    <link rel='icon' type='image/png' href='/favicon.png'>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/map-sdk/map.css">

    <script defer src='/map-sdk/tomtom.min.js'></script>
    <script defer src='/js/bundle.js'></script>
</head>
<body class="">

</body>
</html>